- model_class = Repository
.page-header
  .col-md-offset-1
    %h1 Listing Repositories
    %br
    /https://stackoverflow.com/questions/1755665/get-names-of-all-files-from-a-folder-with-ruby
    /= sync_imgs=Dir["public/assets/owncloud_sync/*"]
    /= sync_imgs=Dir.glob("public/assets/owncloud_sync/*")
    /= sync_imgs.first
    /- sync_imgs=Dir["public/assets/owncloud_sync/*"].select{|f| File.file? f}
    - sync_imgs=Dir.glob("public/assets/owncloud_sync/**/*").select{|f| File.file? f}
    - sync_imgs_name=Dir["public/assets/owncloud_sync/*"].select{ |f| File.file? f }.map{ |f| File.basename f }
    - sync_imgs_name+=Dir["public/assets/owncloud_sync/Documents/*"].select{ |f| File.file? f }.map{ |f| File.basename f }
    %h3 Listing Sync Files from OwnCloud
    %ol
      - for sync_img in sync_imgs
        %li=sync_img
    %ol
      - for sync_img_name in sync_imgs_name
        %li=sync_img_name
.row
  .col-md-10.col-md-offset-1
    #display_link_form
      = link_to 'New Repository', new_repository_path
      ||
      =link_to 'New Repository JS', new_repository_path, {id: 'new_link', remote: true}
    %br
    %p#notice= notice
    #display_row
      %table.table-striped.table-hover.table-bordered
        %thead
          %tr
            %th{width: '5%'} No
            %th{width: '10%'}=t 'repositories.title'
            %th{width: '10%'}=t 'repositories.staff_id'
            %th{width: '10%'}=t 'repositories.data'
            %th{width: '40%'}=t 'repositories.uploaded'
            %th{width: '5%'} ID
            %th{width: '10%'}
            %th{width: '10%'}
          %tbody
            - @repositories.each_with_index do |repository, ind| 
              %tr
                %td=ind+1
                %td=link_to repository.title, repository_path(repository)
                %td=[["Abu", 1], ["Aminah", 2]].find_all{|disp, k| k==repository.staff_id}.map{|disp, k|disp}.first
                %td=repository.data
                %td=repository.uploaded_file_name
                %td=repository.id
                %td
                  = link_to 'Edit', edit_repository_path(repository)
                  ||
                  = link_to 'Edit', edit_repository_path(repository), {id: 'edit_link', remote: true}
                %td
                  = link_to fa_icon("download"), download_repository_url(repository.id)
                  = link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' }
          
    %br
    %hr
    %BR